<section id="a_giraffe" class="services bg-coolGrey">
    <div class="container">
        <div class="row content-row">
            <div class="col-md-4 col-sm-4">
                <%= image_tag("OrangeGiraffe.svg", alt: "Know Your Power Watermark", class: "img-responsive center-block") %>
            </div>
            <div class="col-md-8 col-sm-6">
                <p class="majesti-book">
                    The giraffe’s iconic feature is its long neck.  Symbolically, this long neck represents reaching out, stretching, and elevating ourselves.  Dream analysts believe that a giraffe in our dreams is a reminder that we are all powerful beings with remarkable potential to not only rise to a challenge, but do so with grace and integrity.
                </p>
                <p class="majesti-book">The giraffe represents long-reaching, far-seeing vision.  With its head lifted as high as the treetops, the giraffe's vision is focused on the horizon. Giraffe’s literally see a "bigger picture."
                </p>
                <p class="majesti-book">
                Of the Big Five megafauna of Africa, the giraffe is the only one with a steady temper and quiet demeanor.  It is confident in its power.  It doesn’t need to be aggressive or predatory to survive.
                </p>
            </div>
        </div>
    </div>
</section>