<footer class="footer" style="background-color: #53565A">
    <div class="container text-center">
        <div class="row social">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/wugzoogle"><i class="fa fa-facebook fa-fw fa-2x orange"></i></a>
                    </li>
                    <li><a href="https://twitter.com/HeadUpInc"><i class="fa fa-twitter fa-fw fa-2x orange"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/juddstephanie"><i class="fa fa-linkedin fa-fw fa-2x orange"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-lg-12">
                <p class="nexa-light center orange">&copy; 2016 Head Up, Inc.</p>
            </div>
        </div>
    </div>
</footer>