<footer class="footer" style="background-image: url(<%= asset_path 'bg-footer2.jpg' %>)">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 contact-details">
                <h4><i class="fa fa-phone"></i> Call</h4>
                <p>(607) 351-3340</p>
            </div>
            <div class="col-md-4 contact-details">
                <h4><i class="fa fa-map-marker"></i> Visit</h4>
                <p>Head Up, Inc.
                    <br>Ft. Collins, CO</p>
            </div>
            <div class="col-md-4 contact-details">
                <h4><i class="fa fa-envelope"></i> Email</h4>
                <p><a href="mailto:mail@example.com">stephaniejudd@gmail.com</a>
                </p>
            </div>
        </div>
        <div class="row social">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/wugzoogle"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                    </li>
                    <li><a href="https://twitter.com/HeadUpInc"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/juddstephanie"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-lg-12">
                <p class="small">&copy; 2016 Head Up, Inc.</p>
            </div>
        </div>
    </div>
</footer>