<section id="get_in_touch">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Get In Touch</h4>
                <hr class="colored">
                <p class="nexa-bold center mobile-smaller">Tell us about the power you're trying to access.  We'll help you find it.</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-8 col-sm-offset-2">
                <%= render 'leads/newLeadForm' %> 
            </div>
        </div>
    </div>
</section>