<header id="page-top" class="mobile-full" style="background-image: url(<%= asset_path 'FireBreathing.jpg' %>);">
    <div class="intro-content">
        <%= image_tag("OrangeHorinzontal.svg", alt: "Head Up Logo", class: "img-responsive img-centered shadow", id: "headerLogo") %>
        <hr class="colored">
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#stephanie_who"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>