<header id="page-top" class="video">
    <div class="overlay"></div>
    <div class="intro-content">
        <%= image_tag("OrangeHorinzontal.svg", alt: "Head Up Logo", class: "img-responsive img-centered", id: "headerLogo") %>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#work_with_me"><i class="fa fa-angle-double-down fa-5x"></i></a>
    </div>
</header>

<!-- <header id="page-top" class="mobile-full" style="background-image: url(<%= asset_path 'TableOffice.jpg' %>);">
    <div class="intro-content">
      <%= image_tag("OrangeHorinzontal.svg", alt: "Head Up Logo", class: "img-responsive img-centered shadow", id: "headerLogo") %>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#stephanie_who"><i class="fa fa-angle-double-down fa-5x"></i></a>
    </div>
</header> -->