<section class="cta-form bg-dark" id="power_up">
    <div class="container text-center">
        <h1>Power Up!</h1>
        <hr class="colored">
        <p>Wanna get to know your power?  Wanna connect with others who are doing the same?</p>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <!-- Replace the form action in the line below with your MailChimp embed action! Visit the documentation for additional instructions! -->
                    <form role="form" action="//startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="input-group input-group-lg">
                            <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                            <span class="input-group-btn">
                                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe!</button>
                            </span>
                        </div>
                        <div id="mce-responses">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                    </form>
                </div>
                <!-- End MailChimp Signup Form -->
            </div>
        </div>
    </div>
</section>