<section id="process" class="services bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h2>Our Process</h2>
                <hr class="colored">
                <p>Here is an overview of how we approach each new project</p>
            </div>
        </div>
        <div class="row content-row">
            <!-- Service Item 1 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-clipboard"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Plan</h3>
                        <ul>
                            <li>Client interview</li>
                            <li>Gather consumer data</li>
                            <li>Create strategy</li>
                            <li>Analyze research</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Service Item 2 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Create</h3>
                        <ul>
                            <li>Gather team feedback</li>
                            <li>Build business plan</li>
                            <li>Map workflow</li>
                            <li>Build iterative feedback mechanism</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Service Item 3 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Execute</h3>
                        <ul>
                            <li>Market product launch</li>
                            <li>Collect UX data</li>
                            <li>Deploy product</li>
                            <li>Quarterly review</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>