<aside class="cta-quote" style="background-image: url(<%= asset_path 'RedRocksClimbing.jpg' %>);">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-6 col-md-offset-1 col-sm-6 float-right" data-wow-delay=".1s">
                <span class="quote" id="quote_2">“Why fit in, when you were born to stand out?”</span>
                <hr class=" colored">
                <span class="quote" id="quote_2_author">Dr. Seuss</span>
            </div>
        </div>
    </div>
</aside>