<aside class="cta-quote" style="background-image: url(<%= asset_path 'Leap.jpg' %>);">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote" id="quote_1">“Whatever you can do or dream you can, begin it. / Boldness has genius, power, and magic in it.”</span>
                <hr class=" colored">
                <span class="quote" id="quote_1_author">Goethe</span>
            </div>
        </div>
    </div>
</aside>