<aside class="cta-quote" style="background-image: url(<%= asset_path 'RedRocksClimbing.jpg' %>);">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote">“Why fit in, when you were born to stand out?”</span>
                <hr class=" colored">
                <span class="quote">Dr. Seuss</span>
            </div>
        </div>
    </div>
</aside>