<section id="stephanie_who">
    <div class="container text-center wow fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <h2>Stephanie Who?</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6">
                <%= image_tag("Stephanie_Fun.jpg", alt: "Stephanie", class: "img-responsive center-block", id: "stephanieMain") %>
            </div>
            <div class="col-md-6">
                <br>
                <p class="text-left">Hi, I’m Stephanie, the founder of Head Up.</p>
                <br>
                <p class="text-left">Thanks checking us out!</p>
                <br>
                <p class="text-left">I started Head Up to help business owners and entrepreneurs understand their mission and give voice to their purpose. Through coaching, facilitation, and storytelling, I can help you and your team know your power and grow your business.</p>
                <br>    
                <p class="text-left">Contact me to setup a time to talk about how we can bring your buisness to the next level.</p>
            </div>
        </div>
    </div>
</section>