<section id="stephanie_who">
    <div class="container text-center wow fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <h4>Hey there!  I’m Stephanie.</h4>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="nexa-light bigger"></p>
                <p class="nexa-light bigger">I like to think of myself as a life-long seeker of adventure, all geared toward the end-game of fully knowing what I’m capable of.</p>
                <p class="nexa-light bigger text">AND…</p>
                <p class="nexa-light bigger">I’m here to help you expand and unleash what you’re capable of too!</p>
            </div>
            <div class="col-md-6">
                <%= image_tag("stephanie1.jpg", alt: "Stephanie", class: "img-responsive center-block", id: "stephanieMain") %>
            </div>
            <div class="col-md-12">
                <br>  
                <p class="nexa-light">Want to know my credentials?  Here they are.  But really, they’re just formalities.</p>
                <ul>
                    <li><p class="nexa-light">Trained as a Coach by the Coaches Training Institute</p></li>
                    <li><p class="nexa-light">5 years of experience consulting in the Executive Leadership Development and Organizational Culture spaces</p></li>
                    <li><p class="nexa-light">M.B.A., with a focus on Transformational Leadership and Organizational Behavior, Ross School of Business, University of Michigan</p></li>
                    <li><p class="nexa-light">M.S., with a focus on Policy and Behavior Change, School of Natural Resources & the Environment, University of Michigan</p></li>
                </ul>    
                <p class="nexa-bold">The best thing you can do is reach out!  There’s nothing I’d love more than getting to know you and your power.</p>   
            </div>
        </div>
    </div>
</section>