<section class="testimonials bg-gray" id="stephanie_who">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonials-carousel">
                    <!-- NOTE: You can add more items to the carousel, or remove items you don't need! -->
                    <!-- Testimonial Item 1 -->
                    <div class="item">
                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>I’m Stephanie!</h4>
                                </div>
                            </div>
                        
              
                            <div class="row">
                                <div class="col-md-6 col-sm-push-6">
                                    <%= image_tag("stephanieHeadshot2.jpg", alt: "Stephanie", class: "img-responsive center-block", id: "stephanieMain") %>
                                </div>
                                <div class="col-md-5 col-md-offset-1 col-sm-pull-6">
                                    <p class="nexa-light intro-text-spacing">I like to think of myself as a life-long seeker of adventure, all geared toward the end-game of fully knowing what I’m capable of.</p>
                                    <p class="nexa-light intro-text-spacing text">AND…</p>
                                    <p class="nexa-light intro-text-spacing">I’m here to help you expand and unleash what you’re capable of too!</p>
                                </div>
                            </div>
                      
                    </div>
                    <!-- Testimonial Item 2 -->
                    <div class="item">

                            <div class="row">
                                <div class="col-md-12 col-sm-6">
                                    <h4 class="h4-mobile">Want to know my credentials?</h4>
                                    <h4 class="h4-mobile mobile-hide">Here they are.  But really, they’re just formalities.</h4>
                                </div>
                            </div>
                       
                   
                            <div class="row">
                                <div class="col-md-12">
                                    <br>  
                                    <ul class="no-bullet-mobile">
                                        <li><p class="nexa-light bullet-spacing bullet-mobile">Trained as a Coach by the Coaches Training Institute</p></li>
                                        <hr class="colored desktop-hide">
                                        <li><p class="nexa-light bullet-spacing bullet-mobile">5 years of experience consulting in the Executive Leadership Development and Organizational Culture spaces</p></li>
                                        <hr class="colored desktop-hide">
                                        <li><p class="nexa-light bullet-spacing bullet-mobile">M.B.A., with a focus on Transformational Leadership and Organizational Behavior, Ross School of Business, University of Michigan</p></li>
                                        <hr class="colored desktop-hide">
                                        <li><p class="nexa-light bullet-mobile">M.S., with a focus on Policy and Behavior Change, School of Natural Resources & the Environment, University of Michigan</p></li>
                                    </ul>      
                                </div>
                            </div>
                     
                        
                            <div class="col-lg-12">
                                <p class="nexa-bold bullet-mobile">The best thing you can do is reach out!  There’s nothing I’d love more than getting to know you and your power.</p>
                                 <ul class="list-inline">
                                    <li><a href="https://www.facebook.com/wugzoogle" target="_blank"><i class="fa fa-facebook fa-fw fa-2x orange"></i></a>
                                    </li>
                                    <li><a href="https://twitter.com/HeadUpInc" target="_blank"><i class="fa fa-twitter fa-fw fa-2x orange"></i></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/in/juddstephanie" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x orange"></i></a>
                                    </li>
                                </ul> 
                            </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>