<section class="testimonials bg-gray" id="testimonials">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="testimonials-carousel">
                    <!-- NOTE: You can add more items to the carousel, or remove items you don't need! -->
                    <!-- Testimonial Item 1 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">"Working with Head Up was both a valuable and rewarding experience."</p>
                                <hr class="colored">
                                <p class="quote">These guys are really good. I mean like really really good. I can't tell you how good they are because there just are no words. I can't.</p>
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <%= image_tag("alex.jpg", alt: "Testi1", class: "img-circle img-responsive") %>
                                    </div>
                                    <div class="testimonial-author">
                                        <span class="name">Alex Papo</span>
                                        <p class="small">McKinsey</p>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Item 2 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">"Head Up increased our revenues by over 2000%! I can't recommend them enough."</p>
                                <hr class="colored">
                                <p class="quote">Seriously, did you see what Alex said? Like that, but just 2000% better. Since I've started working with Head Up, I have experienced a level of personal growth I couldn't have imagined before.</p>
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <%= image_tag("ursula.jpg", alt: "Testi2", class: "img-circle img-responsive") %>
                                        <!-- <img src="assets/images/agency/testimonials/2.jpg" class="img-circle img-responsive" alt=""> -->
                                    </div>
                                    <div class="testimonial-author">
                                        <span class="name">Ursula Jessee</span>
                                        <p class="small">Hach</p>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Item 2 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">"I'm never going to work with any another consulting company again. These guys are the cat's pyjamas"</p>
                                <hr class="colored">
                                <p class="quote">After suffering through a parade of incompetent assholes, Head Up was like a breath of fresh air blowing away the stank!</p>
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <%= image_tag("stephen.jpg", alt: "Testi2", class: "img-circle img-responsive") %>
                                        <!-- <img src="assets/images/agency/testimonials/2.jpg" class="img-circle img-responsive" alt=""> -->
                                    </div>
                                    <div class="testimonial-author">
                                        <span class="name">Stephen</span>
                                        <p class="small">Self-made millionare</p>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>