<section id="work_with_me">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h4>Work With Me</h4>
                <hr class="colored">
                <div class="col-lg-6 col-lg-offset-3">
                <h5>“If you want to build a ship, don’t drum up the people to gather wood, divide the world, and give orders.  Instead, teach them to yearn for the vast and endless sea.”</h5>
                <h5>- Antoine de Saint-Exupery</h5>
                </div>
            </div>
        </div>
        <div class="row text-center content-row">
            <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-bar-chart fa-4x"></i>
                    <p class="nexa-bold bigger">Consulting</p>
                    <p class="nexa-light smaller">I’ll work with you to get clear on exactly what you want for your business and your life, figure out where you and the people around you currently on your journey, and decide on a plan that’ll launch you and your business to the next level.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-bullhorn fa-4x"></i>
                    <p class="nexa-bold bigger">Coaching</p>
                    <p class="nexa-light smaller">As a trained coach by Coaches Training Institute, I will work one-on-one with you or any of your team members to unlock the power you need to grow your business and build the life you want.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay=".6s">
                 <div class="about-content">
                     <i class="fa fa-users fa-4x"></i>
                     <p class="nexa-bold bigger">Workshop Design & Facilitation</p>
                     <p class="nexa-light smaller">As an expert in employee engagement and leadership development, I design and deliver highly customized workshops that’ll align your team around your plan for your business and get them on board.</p>
                 </div>
             </div>
        </div>
        <div class="row text-center content-row">
            <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-commenting-o fa-4x"></i>
                    <p class="nexa-bold bigger">Speaking</p>
                    <p class="nexa-light smaller">I speak on topics that around inspiration, leadership, habits, authenticity, and basically all things related to knowing your power.  If you’d like to book a talk, reach out.</p>
                </div>
            </div> 
            <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-pencil-square-o fa-4x"></i>
                    <p class="nexa-bold bigger">Writing</p>
                    <p class="nexa-light smaller">Check out the Know Your Power! blog, where I expound on all things interesting that’ll help you unlock and access your power.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay=".6s">
                <div class="about-content">
                    <i class="fa fa-laptop fa-4x"></i>
                    <p class="nexa-bold bigger">Coursework</p>
                    <p class="nexa-light smaller">I offer courses for those of you interested in know more about how get what you want in business and your life.  Check out my latest, Storytelling to Influence People.</p>
                </div>
            </div>
        </div>
    </div>
</section>