<h1>Head Up</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Thanks for signing up for Head Up! As an added layer of security, we want to make sure you own the email account you used to sign up. Please click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>