<h1>You've got a new lead!</h1>

<p>Hi Stephanie,</p>

<p>
Someone just reach out to you through headupinc.com. Here is the information:
</p>

<p>
Name: <%= @name %>
</p>

<p>
Email: <%= @email %>
</p>

<p>
Phone: <%= @phone %>
</p>

<p>
Message: <%= @message %>
</p>
