@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.navbar-inverse .navbar-nav > li > a {
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: dimgray;
    font-weight: bold;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: dimgray;
}

.portfolio-carousel .owl-controls .owl-prev,
.portfolio-carousel .owl-controls .owl-next {
  background-color: white !important;
  color: black !important;
}

.testimonials .testimonials-carousel .owl-controls .owl-prev,
.testimonials .testimonials-carousel .owl-controls .owl-next {
  background-color: gray !important;
}

@media (min-width: 768px) {
    .navbar-expanded {
    display: none;
  }
}

@media (max-width: 767px) {

  .navbar-expanded {
  display: none;
  }

  .mobile-full {
      height: 100%;
  }

  #services {
    padding: 25px 0;
    }
}

.details {
  font-size: 35px; 
}


