@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* fonts */

$pantoneOrange: #FF6C2F;
$pantoneCoolGrey: #53565A;

@font-face {
font-family: NexaBold;
src: font-url("Nexa-Bold.otf") format("opentype");
}

@font-face {
font-family: NexaLight;
src: font-url("Nexa-Light.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerBold;
src: font-url("Majesti-Banner-Bold.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerBoldItalic;
src: font-url("Majesti-Banner-BoldItalic.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerBook;
src: font-url("Majesti-Banner-Book.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerBookItalic;
src: font-url("Majesti-Banner-BookItalic.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerHeavy;
src: font-url("Majesti-Banner-Heavy.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerLight;
src: font-url("Majesti-Banner-Light.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerLightItalic;
src: font-url("Majesti-Banner-LightItalic.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerMedium;
src: font-url("Majesti-Banner-Medium.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerMediumItalic;
src: font-url("Majesti-Banner-MediumItalic.otf") format("opentype");
}


/* General Styling */

h1 {
  font-family: MajestiBannerBold;
  font-size: 4em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: none;
}

h2 {
  font-family: MajestiBannerHeavy;
  font-size: 3em;
  letter-spacing: .5px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: none;
}

h3 {
  font-family: MajestiBannerBook;
  font-size: 3em;
  letter-spacing: .5px;
  margin-bottom: 15px;
  text-transform: none;
}

h4 {
  font-family: NexaBold;
  font-size: 3.5em;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-transform: none;
}

h5 {
  font-family: NexaLight;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: none;
}

h6 {
  font-family: MajestiBannerMedium;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: none;
}

p {
  font-family: MajestiBannerLight;
  font-size: 22px;
}

p.majesti-book {
  font-family: MajestiBannerBook;
  font-size: 2em;
  letter-spacing: -0.7px;
  margin-bottom: 30px;
  text-transform: none;
  text-align: left;
  color: white;
}

p.nexa-bold {
  font-family: NexaBold;
  font-size: 2em;
  letter-spacing: -0.7px;
  margin-bottom: 10px;
  text-transform: none;
  text-align: center;
}

p.nexa-light {
  font-family: NexaLight;
  font-size: 1.9em;
  letter-spacing: -0.7px;
  margin-bottom: 20px;
  text-transform: none;
  text-align: left;
}

p.bigger {
  font-size: 2.5em;
}

p.smaller {
  font-size: 1.6em;
  text-align: center;
}

p.center {
  text-align: center;
}

#stephanieMain {
  margin-top: 5%;
}

.top-space-5-percent{
  margin-top: 5%;
}


.input-group-lg > .input-group-btn > .btn {
  font-family: MajestiBannerHeavy;
  text-transform: none;
  font-size: 20px;
}

.input-group .form-control {
  font-family: MajestiBannerHeavy;
}

.floating-label-form-group input {
  font-family: NexaLight;
}

.portfolio-carousel .owl-controls .owl-prev,
.portfolio-carousel .owl-controls .owl-next {
  background-color: white !important;
  color: black !important;
}

.testimonials .testimonials-carousel .owl-controls .owl-prev,
.testimonials .testimonials-carousel .owl-controls .owl-next {
  background-color: gray !important;
}

hr.colored {
    border-color: $pantoneOrange;
}

.details {
  font-size: 35px; 
}

.float-right {
  float: right;
}

.btn-outline-dark {
  font-family: NexaBold;
  color: black;
  font-size: 1.5em;
  text-transform: none;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  background: $pantoneOrange;
  border-color: $pantoneOrange;
  outline: none;
}

#stephanieMain {
  border-radius: 25px;
}

#flash {
  margin: -3% 10% -12% 10%;
  text-align: center;
}


.shadow {
    -webkit-filter: drop-shadow( 2px 2px 3px white );
            filter: drop-shadow( 2px 2px 3px white ); /* Same syntax as box-shadow */
}

.shadow2 {
    -webkit-filter: drop-shadow(-4px 3px 4px #000);
        filter: drop-shadow(-4px 3px 4px #000); /* Same syntax as box-shadow */
}

.input-group-lg > .input-group-btn > .btn {
  background-color: $pantoneOrange;
  border-color: $pantoneOrange;
}

.bg-coolGrey { 
  background-color: $pantoneCoolGrey;
}

.white_text {
  color: white;
}

.orange {
  color: $pantoneOrange;
}

/* Navbar Styling */

.navbar-inverse {
  background-color: $pantoneCoolGrey;
  border-color: $pantoneCoolGrey;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: NexaBold;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
    font-family: NexaBold;
    font-size: 20px;
    color: $pantoneOrange;
    font-weight: bold;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: $pantoneOrange;
}

/* Styling Depending on Desktop or Mobile */

@media (min-width: 768px) {

  .navbar-expanded {
  display: none;
  }

  .navbar-inverse .navbar-brand img {
    margin-top: -24px;
    height: 67px;
  }

  #headerLogo {
    width: 100%;
    margin-bottom: 75%;
  }

  #get_in_touch {
    height: 100vh;
  }

  textarea.form-control {
    height: 5em;
    font-family: NexaLight;
  }

  #quote_1 {
    font-family: MajestiBannerBoldItalic;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
    line-height: 120%;
  }

  #quote_1_author {
    font-family: MajestiBannerBold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
  }

  #quote_2 {
    font-family: MajestiBannerBoldItalic;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
    line-height: 120%;
  }

  #quote_2_author {
    font-family: MajestiBannerBold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
  }


  header .scroll-down .btn {
    color: $pantoneOrange;
    border: none;
    height: 100px;
    width: 100px;
    line-height: 50px;
    padding: 0;
    letter-spacing: normal;
    font-size: 25px;
  }

}

@media (max-width: 767px) {

  p.majesti-book {
    font-family: MajestiBannerBook;
    font-size: 2em;
    letter-spacing: -0.7px;
    margin-bottom: 10px;
    text-transform: none;
    text-align: center;
  }

  .navbar-expanded {
  display: none;
  }

  .mobile-full {
      height: 100%;
  }

  section {
  padding: 1em 0;
  }


  #headerLogo {
    width: 91%;
  }

  textarea.form-control {
    height: 2em;
    font-family: NexaLight;
  }

  #quote_1 {
    font-family: MajestiBannerBoldItalic;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
    line-height: 120%;
  }

  #quote_1_author {
    font-family: MajestiBannerBold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
  }

  #quote_2 {
    font-family: MajestiBannerBoldItalic;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
    line-height: 120%;
  }

  #quote_2_author {
    font-family: MajestiBannerBold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
  }

  header .scroll-down .btn {
    color: $pantoneOrange;
    border: none;
    height: 75px;
    width: 75px;
    line-height: 50px;
    padding: 0;
    letter-spacing: normal;
    font-size: 20px;
  }

  .input-group {
      margin-bottom: 40px;
  }

}


/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}




