@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* fonts */

$pantoneOrange: #FF6C2F;
$pantoneCoolGrey: #53565A;

@font-face {
font-family: NexaBold;
src: url("fonts/Nexa-Bold.otf") format("opentype");
}

@font-face {
font-family: NexaLight;
src: url("fonts/Nexa-Light.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerBold;
src: url("Majesti-Banner-Bold.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerBoldItalic;
src: url("Majesti-Banner-BoldItalic.otf") format("opentype");
}

@font-face {
font-family: MajestiBannerBook;
src: url("Majesti-Banner-Book.otf") format("opentype");
}


/* General Styling */

p {
  font-family: MajestiBannerBook;
  font-size: 22px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: MajestiBannerBold;
  font-weight: 900;
  text-transform: none;
}

.top-space-5-percent{
  margin-top: 5%;
}

.input-group-lg > .input-group-btn > .btn {
  font-family: NexaBold;
}

.input-group .form-control {
  font-family: NexaLight;
}

.floating-label-form-group input {
  font-family: NexaLight;
}

.portfolio-carousel .owl-controls .owl-prev,
.portfolio-carousel .owl-controls .owl-next {
  background-color: white !important;
  color: black !important;
}

.testimonials .testimonials-carousel .owl-controls .owl-prev,
.testimonials .testimonials-carousel .owl-controls .owl-next {
  background-color: gray !important;
}

hr.colored {
    border-color: $pantoneOrange;
}

.details {
  font-size: 35px; 
}

.float-right {
  float: right;
}

.btn-outline-dark {
  font-family: NexaBold;
  color: black;
  font-size: 1.5em;
  text-transform: none;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  background: $pantoneOrange;
  border-color: $pantoneOrange;
  outline: none;
}

#stephanieMain {
  border-radius: 25px;
}

#flash {
  margin: -3% 10% -12% 10%;
  text-align: center;
}


.shadow {
    -webkit-filter: drop-shadow( 2px 2px 3px white );
            filter: drop-shadow( 2px 2px 3px white ); /* Same syntax as box-shadow */
}

.shadow2 {
    -webkit-filter: drop-shadow(-4px 3px 4px #000);
        filter: drop-shadow(-4px 3px 4px #000); /* Same syntax as box-shadow */
}

.input-group-lg > .input-group-btn > .btn {
  background-color: $pantoneOrange;
  border-color: $pantoneOrange;
}

.bg-coolGrey { 
  background-color: $pantoneCoolGrey;
}

.white_text {
  color: white;
}

.orange {
  color: $pantoneOrange;
}

/* Navbar Styling */

.navbar-inverse {
  background-color: $pantoneCoolGrey;
  border-color: $pantoneCoolGrey;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: NexaBold;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
    font-family: NexaBold;
    font-size: 20px;
    color: $pantoneOrange;
    font-weight: bold;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: $pantoneOrange;
}

/* Styling Depending on Desktop or Mobile */

@media (min-width: 768px) {

  .navbar-expanded {
  display: none;
  }

  .navbar-inverse .navbar-brand img {
    margin-top: -24px;
    height: 67px;
  }

  #headerLogo {
    width: 100%;
    margin-bottom: 75%;
  }

  #get_in_touch {
    height: 100vh;
  }

  textarea.form-control {
    height: 5em;
    font-family: NexaLight;
  }

  #quote_1 {
    font-family: MajestiBannerBoldItalic;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
    line-height: 120%;
  }

  #quote_1_author {
    font-family: MajestiBannerBold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
  }

  #quote_2 {
    font-family: MajestiBannerBoldItalic;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
    line-height: 120%;
  }

  #quote_2_author {
    font-family: MajestiBannerBold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
  }


  header .scroll-down .btn {
    color: $pantoneOrange;
    border: none;
    height: 100px;
    width: 100px;
    line-height: 50px;
    padding: 0;
    letter-spacing: normal;
    font-size: 25px;
  }

}

@media (max-width: 767px) {

  .navbar-expanded {
  display: none;
  }

  .mobile-full {
      height: 100%;
  }

  section {
  padding: 1em 0;
  }


  #headerLogo {
    width: 91%;
  }

  textarea.form-control {
    height: 2em;
    font-family: NexaLight;
  }

  #quote_1 {
    font-family: MajestiBannerBoldItalic;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
    line-height: 120%;
  }

  #quote_1_author {
    font-family: MajestiBannerBold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
  }

  #quote_2 {
    font-family: MajestiBannerBoldItalic;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
    line-height: 120%;
  }

  #quote_2_author {
    font-family: MajestiBannerBold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
  }

  header .scroll-down .btn {
    color: $pantoneOrange;
    border: none;
    height: 75px;
    width: 75px;
    line-height: 50px;
    padding: 0;
    letter-spacing: normal;
    font-size: 20px;
  }

  .input-group {
      margin-bottom: 40px;
  }

}


/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}




