<footer class="footer">
  <nav class="center-div center">
    <ul>
      <li><%= link_to "Reach Out",   '#' %></li>
      <li><%= link_to "What People Say", '#' %></li>
      <li><%= link_to "Useful Stuff", '#' %></li>
      <li><%= link_to "Media Kit", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  <div class="center-div">
    <small>
      <p class="center">All Rights Reserved  |  (c) 2016  |  Head Up, Inc.</p>
    </small>    
  </div>
</footer>