<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Reach Out",   '#' %></li>
      <li><%= link_to "What People Say", '#' %></li>
      <li><%= link_to "Useful Stuff", '#' %></li>
      <li><%= link_to "Media Kit", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  <small>
    All Rights Reserved  |  (c) 2016  |  Head Up, Inc.
  </small>
</footer>