<!-- -->

<!-- Navigation -->
<!-- NOTE: .navbar-default and .navbar-inverse are both supported with this theme. -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i> Menu
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <%= image_tag("people_white.svg", alt: "Logo", class: "img-responsive") %> 
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#headup">Head Up</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#process">Process</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#testimonials">Testimonials</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="#blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background-image: url(<%= asset_path 'hello.jpg' %>);">
    <div class="intro-content">
        <div class="brand-name">Head Up</div>
        <%= image_tag("people_white.svg", alt: "Profile", class: "img-responsive img-centered") %>
        <hr class="colored">
        <div class="brand-name-subtext">Know Your Power</div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#headup"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>

<!-- Video Header -->
<!-- <header class="video">
    <div class="overlay"></div>
    <div class="intro-content">
        <%= image_tag("people_white.svg", alt: "Profile", class: "img-responsive img-centered") %>
        <div class="brand-name">Head Up</div>
        <hr class="colored">
        <div class="brand-name-subtext">Know Your Power</div>
    </div>
    <div class="scroll-down page-scroll">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down"></i></a>
    </div>
</header> -->